.editor{
    min-width: 80vw;
    min-height: 85vh;
}

.botao-volta-assunto{
    height: 10vh;
}

.btn-salvas{
    min-height: 5vh;
    margin: 0;
    padding: 0;
}

.botao-sair{
    border-color: transparent;
    background-color: transparent;
    margin: 0;
    padding: 0;
}

.botao-sair p{
    font-size: 10vh;
    margin: 0;
    padding: 0;
}

.link-sair{
    text-decoration: none;
}

.tox{
    min-height: 85vh;
}