body{
    background-color:  rgb(26, 26, 26);
    width: 100%;
    overflow-x: hidden;
}

form{
    margin-left: 400px;
    margin-right: 90px;
}

.buscas{
    margin: 35px;
}

.buscador{
    margin-top: -50px;
    margin-left: -35px;
    padding: 10px 75px 10px 15px;
    border-radius: 15px;
    border-color: transparent;
    
}


.botao-pesquisa{
    margin: 10px 0 0 60px;
    border-radius: 15px;
    width: 85px;
    border-color: transparent;
    background: white;
}

.botao-cadastro{
    
    margin: 225px 0 0 95px;
    border-radius: 15px;
    width: 85px;
    border-color: transparent;
    background: white;

}


.sidebar{
    position: fixed;
    top: 0;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 300px;
    height: 100%;
    padding: 40px 10px 30px 10px;
    border-right: 2px solid gray;
}

.sidebar-header{
    width: 100%;
    margin-bottom: 16px;
}

.sidebar .bts{
   margin-left: -24px;
   padding-left: 15px;
   padding-right: 15px;
   width: 314px;
   height: 70px;
   background: transparent;
   border: 1.5px solid gray;
   color: white;
   cursor: pointer;
   

}

.botao-sair{
    display: block;
    display: block;
    margin: 0 0 0 700px;
    margin-top: -65px;
    border-color: transparent;
    background-color: transparent;
    
}

.link-sair{
    text-decoration: none;
}
p{
    font-size: 28px;
    color: white;
}
.sidebar button > span{
    
    
    display: inline-flex;
    padding: 0 95px;


}

.modale{
    color: white;
}

h1{
    margin: 0 0 0 155px;
}

.nome-assunto{
    border-radius: 15px;
    margin: 0 0 0 100px;
    padding: 15px 75px 10px 15px;
}

.descricao-assunto{

    border-radius: 10px;
    margin: 0 0 0 100px;
    padding: 15px 75px 75px 15px;
    margin-left: 82px;
}

.botao-concluir{

    margin: 10px 200px 0 0;
    border-radius: 15px;
    width: 85px;
    border-color: transparent;
    background-color: white;
    


}
    
@media only screen and (min-width: 900px) and (max-width: 1440px) {

    .botao-sair{
        display: block;
        margin: 46.8px 0 0 1313.8px;
        font-size: 38px;
        border-color: transparent;
        background-color: transparent;
        
    }
    
}

@media screen and (max-width: 1680px){
    .botao-sair{
        display: block;
        margin: 46.8px 0 0 1273.8px;
        font-size: 38px;
        border-color: transparent;
        background-color: transparent;
        
    }

}

@media screen and (max-width: 1920px){
    .botao-sair{
        display: block;
        margin: 46.8px 0 0 1500px;
        font-size: 38px;
        border-color: transparent;
        background-color: transparent;
        
    }

}







