/* Forma da própria aside - Ajuste do formato dos botões */
.sidebar{
    position: fixed;
    top: 0;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 300px;
    height: 100%;
    padding: 0px 0px 0px 10px;
    border-right: 2px solid gray;
}

.sidebar-header{
    width: 100%;
    margin-bottom: 16px;
}

.sidebar .bts{
   margin-left: -20px;
   padding-left: 15px;
   padding-right: 10px;
   width: 275px;
   height: 70px;
   background: transparent;
   border: 1.5px solid gray;
   color: white;
   cursor: pointer;
}

.link-assunto{
    margin-right: -5px;
    text-decoration: none;
}

.bts-options{
    position: absolute;
    width: 20px;
    margin-left: 3px;
    padding-top: 21.5px;
    padding-bottom: 23px;
    padding-left: 16px;
    padding-right: 18px;
    background: transparent;
    border: 1.5px solid gray;
}

.sidebar button > span{
    display: inline-flex;
    padding: 0 95px;
}

.absolute{
    position: relative;
}

.edit{
    position: absolute;
    left: 300px;
    top: 0;
    margin-top: -12px;
    margin-left: 7px;
    border-radius: 6px;
    padding: 20px 10px 20px 10px;
    background: #0e0e0e;
    display: none;
}

/* Header da aside - SearchBar */
.buscas{
    margin-top: 20px;
}

.buscador{
    padding: 10px 45px 10px 15px;
    border-radius: 15px;
    border: 0;
    border-color: transparent;
}

.barra-de-ferramentas{
    margin-top: 10px;
    margin-bottom: 8px;
}

/* Modal */
.modal h1{
    margin: 0 0 0 155px;
}

.branco{
    color: white;
}

.nome-assunto{
    border-radius: 15px;
    margin: 0 0 0 100px;
    padding: 15px 15px 10px 15px;
}

.descricao-assunto{
    border-radius: 10px;
    margin: 0 0 0 100px;
    padding: 15px 15px 10px 15px;
    margin-left: 100px;
    margin-top: 20px;
}

/* Botões */
.btn-delete-assunto{
    margin-left: 12rem;
}

.vermelho{
    background-color: #d20000;
    color: white;
    border-radius: 15px;
    width: 85px;
    border-color: transparent;
}

.vermelho:hover{
    background-color: #a00000;
}

.btn-vermelho{
    color: #d20000;
}

.btn-vermelho:hover{
    color: #a00000;
}

.botao-cadastro{
    margin: 0;
    border-radius: 10px;
    width: 85px;
    border-color: transparent;
    background: white;
}

.btn-branco-hover:hover{
    color: #ddd;
}

.btn-branco-background-hover:hover{
    background: #ddd;
}

.btn-preto-background-hover:hover{
    background: #0e0e0e;
}

.botao-concluir{
    margin: 10px 200px 0 0;
    border-radius: 15px;
    width: 85px;
    border-color: transparent;
    background-color: white;
}

.btn-transparente{
    background-color: transparent;
    border: 0;
    font-size: larger;
}

.gira:hover{
    -webkit-animation-name: fa-spin;
            animation-name: fa-spin;
    -webkit-animation-delay: var(--fa-animation-delay, 0s);
            animation-delay: var(--fa-animation-delay, 0s);
    -webkit-animation-direction: var(--fa-animation-direction, normal);
            animation-direction: var(--fa-animation-direction, normal);
    -webkit-animation-duration: var(--fa-animation-duration, 2s);
            animation-duration: var(--fa-animation-duration, 2s);
    -webkit-animation-iteration-count: var(--fa-animation-iteration-count, infinite);
            animation-iteration-count: var(--fa-animation-iteration-count, infinite);
    -webkit-animation-timing-function: var(--fa-animation-timing, linear);
            animation-timing-function: var(--fa-animation-timing, linear);

}