body{
    
    background-color:  rgb(26, 26, 26);
    width: 100%;
    overflow-x: hidden;
}


.buscas{
    margin: 35px;
}

.buscador{
    margin-top: -50px;
    margin-left: -35px;
    padding: 10px 75px 10px 15px;
    border-radius: 15px;
    border-color: transparent;
    
}


.botao-pesquisa{
    margin: 10px 0 0 60px;
    border-radius: 15px;
    width: 85px;
    border-color: transparent;
    background: white;
}

.botao-cadastro-aside{
    
    margin: 225px 0 0 95px;
    border-radius: 15px;
    width: 85px;
    border-color: transparent;
    background: white;

}

.sidebar{
    position: fixed;
    top: 0;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 300px;
    height: 100%;
    padding: 40px 10px 30px 10px;
    border-right: 2px solid gray;
}

.sidebar-header{
    width: 100%;
    margin-bottom: 16px;
}

.sidebar .bts{
   margin-left: -24px;
   padding-left: 15px;
   padding-right: 15px;
   width: 314px;
   height: 70px;
   background: transparent;
   border: 1.5px solid gray;
   color: white;
   cursor: pointer;
   

}

.sidebar button > span{
    
    
    display: inline-flex;
    padding: 0 95px;


}
.h2{
    color: white;
    padding: 30px 0 0 660px;
    font-size: 68px;

}
.botao-materia{

    border-radius: 15px;
    margin: 0 0 0 600px;
    display: block;
    width: 625px;
    padding: 25px;
    background-color: rgb(35, 35, 35);
    border-color: transparent;

    margin-top: 120px;
   
}


.primeira-aula{

    display: block;
    font-size: 26px;
    text-align: center;
    text-decoration: none;
}

.botao-sair{
    display: block;
    margin: 0 0 0 700px;
    margin-top: -65px;
    border-color: transparent;
    background-color: transparent;
    
}

p{
    font-size: 28px;
    color: white;
}
.x{
    color: white;
}
.link-sair{
    text-decoration: none;
    color: white;
}

.botao-cadastro-assunto{

    margin: 289px 0 0 865px;
 
    border-radius: 15px;
    width: 85px;
    border-color: transparent;
    background: white;
}

.modale{
    color: white;
}

h2{
    
     margin: 0 0 0 155px;

}

.nome-assunto{
    border-radius: 15px;
    margin: 0 0 0 100px;
    padding: 15px 75px 10px 15px;
}

.descricao-assunto{

    border-radius: 10px;
    margin: 0 0 0 100px;
    padding: 15px 75px 75px 15px;
    margin-left: 100px;
    margin-top: 20px;
}

.botao-concluir{

    margin: 10px 200px 0 0;
    border-radius: 15px;
    width: 85px;
    border-color: transparent;
    background-color: white;
    


}
    
@media only screen and (min-width: 900px) and (max-width: 1440px) {

    .titulo{
        color: white;
        padding: 30px 0 0 613.5px;
        font-size: 68px;
    }

    .botao-cadastro-aside{
    
        margin: 225px 0 0 95px;

        border-radius: 15px;
        width: 85px;
        border-color: transparent;
        background: white;
    }

    .botao-materia{

        border-radius: 15px;
        margin: 120px 0 0 555px;
        display: block;
        width: 625px;
        padding: 25px;
        background-color: rgb(35, 35, 35);
        border-color: transparent;
    }

    .botao-cadastro-assunto{

        margin: 279px 0 0 822px;
        border-radius: 15px;
        width: 85px;
        border-color: transparent;
        background: white;
    }

}
@media screen and (max-width: 1680px){
    .titulo{
        color: white;
        padding: 30px 0 0 573.5px;
        font-size: 68px;
    }

    .botao-materia{

        border-radius: 15px;
        margin: 120px 0 0 515px;
        display: block;
        width: 625px;
        padding: 25px;
        background-color: rgb(35, 35, 35);
        border-color: transparent;
    }

}
@media screen and (max-width: 1920px){   

    .titulo{
        color: white;
        padding: 30px 0 0 800px;
        font-size: 68px;
    }

    .botao-materia{

        border-radius: 15px;
        margin: 140px 0 0 735px;
        display: block;
        width: 625px;
        padding: 25px;
        background-color: rgb(35, 35, 35);
        border-color: transparent;
    }

    .botao-cadastro-assunto{

        margin: 258px 0 0 985px;
        border-radius: 15px;
        width: 85px;
        border-color: transparent;
        background: white;
    }


}
  